html {
  background-color: #72a59d;
  color: #4b4f4f;
  font-family: "open sans";
  font-size: 20px;
  padding: 60px 10%;
}
body {
  align-items: center;
  display: flex;
  flex-direction: row;
}
img {
  border: solid 6px #c1b9b4;
  border-radius: 50%;
  width: 13.5rem;
}
.content {
  line-height: 2;
  padding: 20px;
}
h1 {
  font-size: 3rem;
}
a {
  color: #c46229;
  text-decoration: none;
}
a:hover {
  color: #c1b9b4;
  text-decoration: none;
}

@media (max-width: 800px) {
  html {
    font-size: 0.75rem;
  }
  body {
    flex-direction: column;
    text-align: center;
  }
  img {
    width: 10.125rem;
  }
}
